$govuk-assets-path: "/vat-through-software/submit-vat-return/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/vat-through-software/submit-vat-return/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/dist/govuk/all";
//@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";

@media (min-width: 40.0625em) {
  .vatvc-grey-paragraph-text {
    font-size: 1.1875rem;
  }
}

.vatvc-grey-paragraph-text {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.3157894737;
  color: #505a5f;
}

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-main-wrapper {
  padding-top: 0;
}

.govuk-back-link {
  margin-bottom: 40px;
}

.govuk-box-highlight > h1 {
  margin:1em 0;
  padding: 2em 1em 2em;
  color:govuk-colour("white");
  background:#28a197;
  text-align:center;
}


